.home {
    background: #01182f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.parallax-outer {
    position: relative;
}
.image {
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.parallax-text {
    font-size: 20vw;
    font-weight: 500;
    position: relative;
    color: #fafafa;
    text-transform: uppercase;
    font-style: italic;
}
.parallax-text:after {
    content: attr(text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 0.20vw #fafafa;
    z-index: 100;
}
.home img {
    width: 100%;
    max-width: 300px;
    animation: Animate 3s cubic-bezier(0.30,1,0.6,1) infinite alternate; 
}
@keyframes Animate {
    0%, 10% {
            transform: translate(-20vw, 0) rotate(15deg); 
    }
    90%, 100% {
        transform: translate(100px, -20px) rotate(-30deg); 
    }
}